*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

In [1]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [2]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2021-04-01 09:34:55--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.2.33, 104.26.3.33, 172.67.70.149, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.2.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip      [   <=>              ]  24.88M  48.3MB/s    in 0.5s

2021-04-01 09:34:56 (48.3 MB/s) - ‘book-crossings.zip’ saved [26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [3]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    # error_bad_lines=False,
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'}
    )

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    # error_bad_lines=False
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'}
    )

In [ ]:
df_books

              isbn  ...                author
0       0195153448  ...    Mark P. O. Morford
1       0002005018  ...  Richard Bruce Wright
2       0060973129  ...          Carlo D'Este
3       0374157065  ...      Gina Bari Kolata
4       0393045218  ...       E. J. W. Barber
...            ...  ...                   ...
271374  0440400988  ...        Paula Danziger
271375  0525447644  ...            Teri Sloat
271376  006008667X  ...      Christine Wicker
271377  0192126040  ...                 Plato
271378  0767409752  ...   Christopher  Biffle

[271379 rows x 3 columns]

In [ ]:
df_ratings

           user        isbn  rating
1474     277427  0061009059     9.0
1522     277427  0316776963     8.0
1584     277427  0385504209     8.0
1601     277427  0399501487     9.0
1647     277427  0440224764     7.0
...         ...         ...     ...
1141308  274308  0440213525     8.0
1141411  274308  0446611212     6.0
1143465  274808  0446672211    10.0
1146737  275970  0385722206    10.0
1146852  275970  044651652X     6.0

[3628 rows x 3 columns]

In [4]:
counts1 = df_ratings.user.value_counts()
counts2 = df_ratings.isbn.value_counts()

df_ratings = df_ratings[df_ratings.user.isin(counts1[counts1>200].index)]

df_ratings = df_ratings[df_ratings.isbn.isin(counts2[counts2>100].index)]
df_ratings

df_ratings.isbn.value_counts()
# df_ratings.user.value_counts()

0971880107    363
0316666343    270
0060928336    220
0440214041    218
0385504209    215
             ...
0451191145     23
0684833395     22
039592720X     22
0091867770     19
0671027344     16
Name: isbn, Length: 721, dtype: int64

In [5]:
df_ratings = df_ratings.loc[df_ratings.rating!=0]
df_ratings

           user        isbn  rating
1456     277427  002542730X    10.0
1474     277427  0061009059     9.0
1522     277427  0316776963     8.0
1543     277427  0345413903    10.0
1581     277427  0385486804     9.0
...         ...         ...     ...
1146735  275970  038572179X     9.0
1146737  275970  0385722206    10.0
1146809  275970  043936213X     9.0
1146820  275970  0440180295     9.0
1146852  275970  044651652X     6.0

[12497 rows x 3 columns]

In [16]:
temp = pd.merge(df_books,df_ratings,on='isbn')
final = pd.DataFrame(temp.groupby('isbn')['rating'].mean())
final['count'] = pd.DataFrame(temp.groupby('isbn')['isbn'].count())

temp = temp[['isbn', 'title']].drop_duplicates()
final = pd.merge(temp,final,on='isbn')
final = final.sort_values('count',ascending=False)
# final = final.sort_values('rating',ascending=False)
final.index=final['isbn']
final

                  isbn  ... count
isbn                    ...
0316666343  0316666343  ...   104
0385504209  0385504209  ...    79
059035342X  059035342X  ...    66
0312195516  0312195516  ...    62
0446310786  0446310786  ...    60
...                ...  ...   ...
0451207521  0451207521  ...     3
1551668998  1551668998  ...     3
0553571818  0553571818  ...     3
0446365505  0446365505  ...     2
0446611778  0446611778  ...     2

[717 rows x 4 columns]

In [7]:
ratings_pivot = df_ratings.pivot(index='isbn',columns='user',values='rating').fillna(0)
ratings_pivot

user        254     2276    2766    2977    ...  275970  277427  277639  278418
isbn                                        ...
002542730X     0.0     0.0     0.0     0.0  ...     0.0    10.0     0.0     0.0
0060008032     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
0060096195     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
006016848X     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
0060173289     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
...            ...     ...     ...     ...  ...     ...     ...     ...     ...
1573227331     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1573229326     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1573229571     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1592400876     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1878424319     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[721 rows x 828 columns]

In [8]:
model=NearestNeighbors(metric='cosine',algorithm='brute')
model.fit(csr_matrix(ratings_pivot.values))

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [9]:

def get_name(isbn):
  return final.loc[final.isbn == isbn].title.item()

distances,indices=model.kneighbors(ratings_pivot.loc['0446672211'].values.reshape(1,-1),n_neighbors=6)
out=[]
for i in range(len(distances.flatten())):
  out.append([get_name(ratings_pivot.index[indices.flatten()[i]]),distances.flatten()[i]])
out

[["Where the Heart Is (Oprah's Book Club (Paperback))", 0.0],
 ['The Lovely Bones: A Novel', 0.7230184],
 ['I Know This Much Is True', 0.7677075],
 ['The Surgeon', 0.7699411],
 ['The Weight of Water', 0.77085835],
 ["I'll Be Seeing You", 0.8016211]]

In [49]:
# function to return recommended books - this will be tested
def get_recommends(book = ""): 
  distances,indices=model.kneighbors(ratings_pivot.loc[final.loc[final.title==book].isbn].values,n_neighbors=6)
  out=[]
  for i in range(len(distances.flatten())): 
    out.append([get_name(ratings_pivot.index[indices.flatten()[i]]),distances.flatten()[i]])
  out
  recommended_books = []
  recommended_books.append(book)
  temp=out[1:]
  recommended_books.append(temp[::-1])
  return recommended_books

In [50]:
get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")

['The Queen of the Damned (Vampire Chronicles (Paperback))',
 [['Lasher: Lives of the Mayfair Witches (Lives of the Mayfair Witches)',
   0.7833433],
  ['The Witching Hour (Lives of the Mayfair Witches)', 0.7362787],
  ['Interview with the Vampire', 0.73450685],
  ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5298544],
  ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.51784116]]]

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [42]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)
def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False 
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You havn't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7230184]]]
You passed the challenge! 🎉🎉🎉🎉🎉